@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes ani-scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-125%);
  }
}

.scroll{  
  animation: ani-scroll 15s linear infinite;
}

@media (max-width: 768px) {
  .scroll {
    animation: none;
  }
}